.profile-page{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: raw;
}

.profile__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-Form{
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container-services{
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}