@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.hero__section{
    width: full;
    height: 90vh;
}

.hero__image{
    width: 40%;
    height: 73vh;
    background-image: url('../../../public/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    position : absolute;
    top: 18vh;
    right: 7%; 
    z-index: -1;
}

.hero__content{
    font-family: "Poppins", sans-serif !important;
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 14vh;
    left: 4%;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    border: 15px solid rgb(255, 255, 255);
}


.hero__content__header{
    position: absolute;
    top: 5%;
    left: 4%;
    width: 65%;
    height: 40%;
    /* border: 1px solid #000; */
}


.hero__content__header h1{
    font-size: 4rem;
    font-weight: 600;
    color: #1D1D1D;
}


.hero__content__header h3{
    font-size: 2.5rem;
    font-weight: 500;
    color: #1D1D1D;
}


/* tabs */
.tab-container-inner{
    background-color: rgb(219, 247, 219);
    position: absolute;
    top: 53%;
    left: 4%;
    width: 70%;
    height: 40%;
    border-radius: 10px;
    border: #25D366 2px solid;
}

.header-list{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    list-style-type: none;
    border-bottom: rgb(197, 197, 197) 1px solid;
}
.header-list li{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tab-button{
    background-color: rgb(219, 247, 219);
    border: none;
    padding: 20px 20px 5px 0px;
    
}


.tab-button-active{
    background-color: rgb(219, 247, 219);
    border: none;
    padding: 20px 20px 5px 0px;
    border-bottom: #25D366 2px solid;
}

.tab-content-holder{
    padding-left: 20px;
}
.tab-content{
    display: none;
}
.tab-content-active{
    display: block;
}

.hotel-filters{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.hotel-filters label{
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 10px;
    color: #1D1D1D;
}


.hotel-filters input{
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 5px;
    border: none;
    color: rgb(137, 137, 137);
    background-color: rgb(219, 247, 219);
}

@media (max-width: 450px) {
    .hero__section{
        width: full;
        height: 90vh;
        position: relative;
    }
    .hotel-filters{
        font-size: 1.5rem;
        /* display: flex;
        flex-direction: column; 
        justify-content: flex-start; */
        width: fit-content;
        height: fit-content;       
        display: grid;
        grid-template-columns: auto;
    }
    .hotel-filter{
        display: flex;
        flex-direction: column;
    }
    .hero__image{
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        right: 0%;
    }
    .hero__content{
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: 0%;
        border: none;
    }
    .hero__content__header{
        width: 100%;
        height: 40%;
    }
    .hero__content__header h1{
        font-size: 2rem;
    }
    .hero__content__header h3{
        font-size: 1.5rem;
    }
    .tab-container-inner{
        width: 90%;
        height: 70%;
        position: absolute;
        top: 25%;
        left: 4%;
        background-color: rgb(197, 252, 197);
        font-size: 1.5rem;  
    }
    .tab-button{
        background-color: rgb(197, 252, 197);
        color: rgb(108, 108, 108);
    }
    .tab-button-active{
        background-color: rgb(197, 252, 197);
        color: rgb(0, 0, 0);
    }
    .hotel-filters label{
        font-size: 1.5rem;
    }
    .hotel-filters input{
        padding: 5px 0px 5px 0px;
        font-size: 1rem;
    }
}


/* our services */

.services-container{
    width: 90%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    
}

.services-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px;
}



.service-heading h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1D1D1D;
}

    
.service{
    justify-content: center;
    align-items: center;
    width: 30%;
}

.service-image{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #25D366;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1D1D1D;
}

.service-content h4{
    font-size: 1rem;
    font-weight: 600;
    color: #1D1D1D;
}

.service-content p{
    font-size: 0.8rem;
    font-weight: 400;
    color: #1D1D1D;
}

@media (max-width: 450px) {
    .services-content{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    .service{
        width: 100%;
    }
    .service-image{
        width: 100px;
        height: 100px;
    }
    .service-content h3{
        font-size: 1.3rem;
    }
    .service-content h4{
        font-size: 1rem;
    }
    .service-content p{
        font-size: 1rem;
    }
}

.about-container{
    width: 90%;
    height: 375px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
}

.about-image{
    width: 35%;
    height: 90%;
    background-image: url('../../../public/images/Galle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    position: absolute;
    left: 5%;
    top: 5%;
}

.about-content{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    
    position: absolute;
    right: 5%;
    top: 7%;
}

.about-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1D1D1D;
}

.about-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #1D1D1D;
}

@media (max-width: 450px) {
    .about-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
        margin-top: 20px;
        position: relative;
    }
    .about-image{
        display: none;
    }
    .about-content{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/images/Galle.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        position: relative;
        left: 0%;
        top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-content h2{
        font-size: 2rem;
    }
    .about-content p{
        font-size: 1rem;
        color:white;
        text-shadow: 2px 2px 4px #000000;
        padding: 5PX;
    }
}

/* testimonials css */
.testimonials-image1{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url('https://xsgames.co/randomusers/assets/avatars/male/74.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-image2{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url('https://i.imgur.com/KykRUCV.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-image3{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/55758/random-user-31.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-ratings{
    color: #ffe600;
}

/* subscribe css */

.subscribe-container{
    width: 90%;
    height: 545px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
}

.subscribe-image{
    width: 40%;
    height: 90%;
    background-image: url('../../../public/images/1.2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: -1;
}

.subscribe-content{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    
    position: absolute;
    left: 5%;
    top: 7%;
}

.subscribe-content h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1D1D1D;
    margin-bottom: 20px;
}

.subscribe-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #1D1D1D;
}

.subscribe-form{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color:  rgb(197, 252, 197);
    position: relative;
}

.subscribe-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.subscribe-form form input{
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1D1D;
    cursor: pointer;
    background-color:  rgb(197, 252, 197);
}

.customers-stat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.customers-stat .stat{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.customers-stat h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #7d7d7d;
    margin-bottom: 0px;
}

.customers-stat p{
    font-size: 1rem;
    font-weight: 600;
    color: #7d7d7d;
    margin-top: 0px;
}

@media (max-width: 450px) {
    .subscribe-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
        margin-top: 20px;
        position: relative;
    }
    .subscribe-image{
        display: none;
    }
    .subscribe-content{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/images/1.2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        position: relative;
        left: 0%;
        top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .subscribe-content h2{
        font-size: 2rem;
    }
    .subscribe-content p{
        font-size: 1rem;
        color:white;
        text-shadow: 2px 2px 4px #000000;
        padding: 5PX;
    }
    .subscribe-form{
        width: 100%;
        height: 60px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color:  rgb(197, 252, 197);
        position: relative;
    }
    .subscribe-form form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .subscribe-form form input{
        width: 70%;
        height: 50px;
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 400;
        color: #1D1D1D;
        cursor: pointer;
        background-color:  rgb(197, 252, 197);
    }
    .customers-stat{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .customers-stat .stat{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .customers-stat h2{
        font-size: 2rem;
    }

    .customers-stat p{
        font-size: 1rem;
    }

}
