@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif !important;
  }

button {
    background-color: #25D366;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Style the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: #3af481; /* Change this to the desired color */
    border-radius: 5px;
  }
  
  /* Style the scrollbar track */
body::-webkit-scrollbar-track {
    background-color: #eee; /* Change this to the desired color */
    border-radius: 5px;
  }



  /*Header*/
  .navbar .navbar-nav .nav-link {
    color: black;
  }
  .navbar .navbar-brand {
    color: black;
  }
  .sm-icons {
    display: flex;
  }
  .sm-icons .nav-link {
    padding-right: 1em;
  }

  .sm-icons .icon {
    color: #25D366; /* This is the original color of the icons */
  }
  
  .sm-icons .icon:hover {
    color: #25964e;
  }
  

  a,
  .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 1.1em;

    color: black;

    &:hover {
      color: #25D366;
    }
}

.active-nav-link {
  color: #25D366 !important; 
}

.nav-item {
    padding: 0 10px;
}

.navbar-brand{
  font-size: 1.5em;
}


  /* hero section */
  .headline {
    left: 130px;
  } 
  .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
  @media screen and (max-width: 650px){
    .headline {
      left: 20px;
    } 
    .clipped {
      clip-path: none;
      max-height: 300px !important;
    }
  }


  /* Drivers cards */

  .driverCards {
    margin: 15px 10px 15px 10px;
    /* text-align: center; */
    display: -webkit-flex;
    display: inline-block;
    border-radius: 10px;
    -webkit-justify-content: center; 
    justify-content: center;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .driverCards:hover {
    box-shadow: 0 4px 10px rgba(104, 230, 76, 0.54), 0 4px 10px rgba(104, 230, 76, 0.85);
  }

  .driver-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  .card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .vehicle-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
  }
  

  .driver-card-details{
    margin: 5px;
    padding: 5px;
    
  }

  /* Loading Spinner */

  .loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* registration and loging page */

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  .heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
  }
  
  .heading p {
    color: #828282;
  }

  .form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}